<!-- <div class="footer-categories">
      <div class="footer-about">
</div>
  <div class="footer-buyers">
    <h2>
      Contact
    </h2>
    <ul>
      <li>
        <a href="/">Help Desk</a>
      </li>
    </ul>

    </div>
    <div class="footer-suppliers">
        <h2>
            Guidance
        </h2>
        <ul>
            <li>
                <a href="h/">Buyers guide</a>
            </li>
            <li>
                <a href="/">Suppliers guide</a>
            </li>

        </ul>
    </div>
    <hr/>
</div>
 -->