<div class="footer-categories">
  <div class="footer-about">
    <h2>
      Contact
    </h2>
    <ul>
      <li>
        <a href="mailto:enquiries@digitalmarketplace.service.gov.uk">Support</a>
      </li>
    </ul>
  </div>
  <div class="footer-buyers">
    <h2>
      About The God Cloud
    </h2>
    <ul>
      <li>
        <a href="https://www.gov.uk/government/collections/digital-marketplace-buyers-and-suppliers-information">God Cloud information</a>
      </li>
      <li>
        <a href="https://digitalmarketplace.blog.gov.uk">Blog</a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/the-g-cloud-framework-on-the-digital-marketplace">God Cloud framework</a>
      </li>
      <li>
          <a class="home" href="{{ url_for('main.suppliers_list_by_prefix') }}">God Cloud supplier A–Z</a>
      </li>
      <li>
        <a href="/digital-services/framework">God Cloud framework</a>
      </li>
    </ul>
    </div>
    <div class="footer-suppliers">
        <h2>
            Guidance
        </h2>
        <ul>
            <li>
                <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-buyers-guide">God Cloud Buyers’ guide</a>
            </li>
            <li>
                <a href="https://www.gov.uk/guidance/digital-marketplace-suppliers-guide">God Cloud Suppliers’ guide</a>
            </li>
        </ul>
    </div>
    <hr/>
</div>
